* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* this is header style css */

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    text-align: center;
    background: rgba(229, 84, 115, 0.10);
}

.header-lets-make {
    font-size: 55px;
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    margin-bottom: 45px;
}

.header-writing {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.header-btn {
    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    margin-top: 45px;
    cursor: pointer;
}

.header-right {
    margin-bottom: -45px;
}


/* <!-- this is Featured Flowers style css --> */


.Featured-Flowers {
    height: 100vh;
    border: #FFF;
}

.featured-h3 {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 45px;
    padding-top: 105px;
}

.featured-p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 45px;
}


.featured-three-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    /* padding-top: 160px; */
}

.featured-images1 {
    width: 464px;
    height: 538px;

}

.img1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 78px 0px;
}

.img2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 117px 47px 51px;

}

.img3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 67px 75px 0px;

}

.img-writing {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
    padding-top: 20px;
}

/* <!-- this is about me section --> */
.about-me {
    background-image: url(../section.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: centers;
    position: relative;
}

.about-h3 .My-img {
    position: absolute;
    top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 25%;
}
.me{color:#E55473;}

.right-about-h3{font-size: 43px;
    text-align: center;
    padding-bottom: 40px;}

.more-photo{text-align: center;
    padding-top: 5px;
    text-decoration: underline;
    font-weight: 700;
    cursor: pointer;
font-size: 18px;}

.more-photo:hover{color: blue; 
}

.WELCOME {
    padding-left: 10px;
    padding-top: 120px;
}

.about-hello {
    padding-left: 15px;
    padding-top: 10px;
}

.circle-img {
    width: 114px;
    height: 111px;
    /* padding-top: 95px; */
    padding-left: 30px;
    padding-top: 100px;
}



.my-img-or-txt {
    display: flex;
    justify-content: space-between;
}


.Iftekhar-p {
    width: 373px;
    padding-top: 23px;
    line-height: 26px;
    font-size: 19px;
    color: #0b1c1e;
    padding-left: 80px;
}


.right-about {
    padding-top: 140px;
}

.rr-image {
    width: 550px;
    height: 559px;
    padding-left: 6px;

    box-shadow: 10px 10px 8px #888888;
}

.about-btn {
    padding: 19px 37px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: #FFF;
    font-family: Lato;
    font-size: 17px;
    margin-top: 28px;
    cursor: pointer;
    margin-left: 75px;
}

/* <!-- this is hot deal style css --> */
.hot-deal {
    width: 1922px;
    height: 620px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;

}

.hot-deal-left {
    text-align: center;
}

.hot-deal-h1 {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.hot-deal-p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 15px;
}

.hot-deal-off-color {
    color: #E55473;
}

.hot-deal-btn {
    padding: 18px 35px;
    text-align: center;
    border-radius: 8px;
    background-color: #E55473;
    color: #FFFFFF;
    border: none;
    font-size: 17px;
    font-weight: bold;
    margin-top: 15px;
    cursor: pointer;
}

/* <!-- this is Instagram section --> */
.instagram {
    width: 1920px;
    height: 600px;
    text-align: center;
    margin: auto;
}


.Instagram-h1 {
    padding-top: 95px;
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.Instagram-p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 15px;
}

.instagram-four-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 100px;
    gap: 8px;
}

.img-insta {
    height: 280px;
    width: 250px;
    padding-right: 15px;
}

/* <!-- this is latest deal section --> */
.deal-cover {
    width: 1920px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.deal-img {
    width: 1440px;
    height: 449px;
}

.deal-img-and-text {

    position: relative;
}

.deal-position-text {
    position: absolute;
    top: 106px;
    left: 362px;
}

.deal-h3 {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.deal-p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 10px;
}

.input {
    width: 700px;
   height: 55px;
    display: inline;
    border: none;
    border-radius: 8px;
    margin-top: 25px;
}

.Subscribe {
    width: 150px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    cursor: pointer;
    height: 55px;
}

/* footer style css */
.foot {
    width: 1922px;
    height: 449px;
    background-color: #111010;
    text-align: center;
    color: white;
}

.foot-h3 {
 font-size: 48px;
font-weight: 800;
color: #FFFFFF;
padding-top: 128px;
}

.flower {
    color: #E55473;
    
}
.foot-p{color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
   padding-top: 24px;}

.copy-right{color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding-top: 25px;}